@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans TC', sans-serif; */
/* blue{color:#2a369a; color: #335ec6; color: #0883d3; color: #3093d6; color: #39adde; color: #2dbeed; color: #34cbe6;} */

*{margin: 0;padding: 0;box-sizing: border-box;}
body{font-family: 'Noto Sans TC', sans-serif;}
.container{overflow-x: hidden;}

.btn, .btn:focus, .btn:active {outline: none;border: inherit;letter-spacing: 0.5px;background: rgb(42,54,154);background: linear-gradient(50deg, rgba(42,54,154,0.8015581232492998) 21%, rgba(52,203,230,1) 100%);color: #fff;text-transform: capitalize;transition: all 0.3s ease;-webkit-transition: all 0.3s ase;
-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;}
.btn:hover, .btn:focus {box-shadow:none;background: rgb(52,203,230);background: linear-gradient(50deg, rgba(52,203,230,1) 20%, rgba(42,54,154,0.8015581232492998) 100%);color: #fff;transition: all 0.3s ease;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;}

#header{padding-top: 81px;}
.navbar-light .navbar-nav .nav-link{color: #000000;letter-spacing: 0.5px;}
.navbar-light .navbar-nav .nav-link:hover{color: #335ec6;}

.hero-banner{display: block;width: 100%;padding: 80px 0;}
.banner-con{max-width: 440px;}
.banner-con h2{font-size: 40px;}
.banner-con p{font-size: 30px; color:#335ec6;}

.new-section ul li::marker{color: #0883d3;}
.old-section ul li::marker{color: #0883d3;}

.five-section .lox small{color: #335ec6;}
.five-section .lox h4{color: #335ec6;}

.rating-section{display: block;width: 100%;}
.rating-section .rating-inner{display: block;width: 100%;background-color: #000;}
.rating-section .name{color: #2dbeed;}

.faq-section .card-header{padding: 2px 10px;}
.faq-section .btn{background: transparent;}
.accordion > .card > .card-header{background: rgb(42,54,154);background: linear-gradient(50deg, rgba(42,54,154,0.8015581232492998) 21%, rgba(52,203,230,1) 100%);}